.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.textEdit {
  border: 0px none;
  font-family: monospace;
  font-size: 30px;
  padding: 10px;
}

.textEdit:focus {
  outline: none;
}